@custom-selector --headings h1, h2, h3, .h1, .h2, .h3

@custom-selector --subHeadings h4, h5, h6, .h4, .h5, .h6

--headings
  font-family: var(--base-font-family)
  font-weight: var(--base-heading-font-weight)
  letter-spacing: -1.5px
  margin-left:30px
  margin-right: 30px

--subHeadings
  font-family: var(--base-font-family)
  font-weight: var(--base-font-weight)
  line-height: 1
