//- //-
//- //- ACCESSIBILITY NAVIGATION
//- //- ========================
//- //- Appears first in tabbing order.
//- //-
//- //- Add more links as requires by each project, for example to a search page
//- //- or accessibility statement.
//- //-
.a11y-navigation.sans_font
  span Skip to:
  a(href="#menu").js-a11y-navigation Main menu
  a(href="#mainContent").js-a11y-navigation Main content
