.footer
  background-color: var(--color-blue)
  padding: 30px
  text-align: left
  position: relative

.footer__column
  text-align: center
  margin: 10px 0

.footer__logo
  display: inline-block
  fill: var(--color-bronze)

.footer__p
  color: var(--color-bronze)
  line-height: 21px
  font-size: 16px
  margin: 0
  padding: 0 0 3px

@media (--tablet)
  .footer
    height: 180px
  .footer__logo
    width:180px
    height: 36px
  .footer__p
    line-height: 17px
    font-size: 14px
  .footer__column
    text-align: center

@media (--desktop)
  .footer
    height: 220px
    padding: 90px 12.5%
  .footer__logo
    width: 221px
    height: 42px
  .footer__column
    text-align: left
    padding-left: 3%
  .footer__p
    line-height: 21px
    font-size: 16px
