.header
  position: absolute
  top: 0
  left: 0
  height: 100px
  width: 100%
  background-color: rgba(255,255,255,0.2)
  text-align: center
  z-index: 1
  pointer-events: none

.header__container
  max-width: 1400px
  margin: 0 auto

.header__logo
  height: auto
  width: 200px
  display:inline-block

.header__logo__link
  border-bottom: none
  pointer-events: auto
  &:hover
    border-bottom: none

.header__nav__list
  display:inline-block
  list-style-type: none
  font-family: var(--secondary-font-family)
  font-size: 11px
  text-transform: uppercase
  margin: 0
  padding: 0
  vertical-align: -webkit-baseline-middle

.header__nav__list__item
  display: inline-block
  margin: 0 8px
  line-height: 23px

.header__nav__list__item__link
  border-bottom: 2px solid rgba(255,255,255,0)
  transition: all 0.4s
  pointer-events: auto
  &:hover
    border-bottom: 2px solid var(--color-white)

.header__nav__list__item--noCaps
  text-transform: none

.header__nav__list__item--tel
  display: none

@media (--tablet)
  .header
    height: 115px
  .header__logo
    height: 23px
    width: 221px
  .header__nav__list
    font-size: 15px
  .header__nav__list__item
    margin: 0 19px

@media (--desktop)
  .header__nav__list__item--tel
    display: inline-block
