.home
  width: 100vw
  height: 100vh
  background-color: var(--color-white)
  border: 10px solid var(--color-green)

h1
  text-align: center
  color: var(--color-green)
  font-size: 6em
  font-family: var(--base-font-family)
  font-weight: var(--base-font-weight)
  letter-spacing: -5px
  padding: 5vh 5vw
