doctype
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
html(lang='en')
  head
    include includes/document-head

  body

    //- include includes/analytics
    block body-start

    block a11y-navigation
      //- include layout/a11y-navigation

    block main-header
      include layout/main-header

    main#content.main-content(role='main')
      block content

    block main-footer
      include layout/main-footer

    block body-end

    block scripts
      script(src='/assets/dist/index.js')
